{% extends "home.html" %}
{% load static %}
{% block title %}
{{ object.title }}
{% endblock %}
{% block content %}
{% with category=object.category %}
<div class="follow-post-page">
    <div class="wrapper">
        <div class="category-content">
            <div class="title"> <h1>{{ object.subject }}</h1></div>
            <div class="module">
                <h2>Overview</h2>
                <p>
                <div class="subject-link"><a href="{% url 'categories_listing' category.slug %}">
                {{ category.subject }}</a></div>
                <div class="number-modules">{{ object.modules.count }} modules</div>
                </p>
                <div class="category-overview">{{ object.overview|linebreaks }}</div>
                    {% if request.user.is_authenticated %}
                <form action="{% url 'user_following_posts' %}" method="post">
                {{ enroll_form }}
                {% csrf_token %}
                <div class="follow-post-btn"><input type="submit" value="Follow post"></div>
                </form>
                {% else %}
                <div class="follow-post-btn"><a href="{% url 'user_register' %}" class="button">Register to follow this topic</a>

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endwith %}
{% endblock %}