{% extends "home.html" %}
    {% block title %}Log-in{% endblock %}
    {% block content %}

{% load static %}
<div id="sign-in-page">
    <div class="wrapper">
        <div class="sign-in-shell">
            <div class="isometric-elements"><img src="{% static 'images/sign-in-isometric.png' %}" alt="Sign in Isometric Image"/></div>
            <div class="sign-in-form">
                <h1>Sign In</h1>
                {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                p>
                {% else %}
                <p>Please, use the following form to log-in:</p>
                {% endif %}
                <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Log-in"></p>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}